/* Font */
@import url('https://fonts.cdnfonts.com/css/papernotes');

body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Papernotes', sans-serif;
}

/* Transparent background. */
yt-live-chat-renderer {
    background-color: transparent !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
    background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {
    background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {
    background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
    background-color: transparent !important;
}

yt-live-chat-author-chip #author-name {
    background-color: transparent !important;
}

/* Outlines */
yt-live-chat-renderer * {
    font-size: 18px !important;
    line-height: normal !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
    overflow: initial !important;
}

/* Hide scrollbar. */
yt-live-chat-item-list-renderer #items {
    overflow: hidden !important;
}

yt-live-chat-item-list-renderer #item-scroller {
    overflow: hidden !important;
}

/* Hide header and input. */
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
    display: none !important;
}

/* Reduce side padding. */
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

yt-live-chat-paid-message-renderer #header {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

/* Avatars. */
yt-live-chat-text-message-renderer #author-photo,
yt-live-chat-paid-message-renderer #author-photo,
yt-live-chat-legacy-paid-message-renderer #author-photo {
    display: none !important;
}

/* Hide badges. */
yt-live-chat-text-message-renderer #author-badges {
    display: none !important;
    vertical-align: text-top !important;
}

/* Timestamps. */
yt-live-chat-text-message-renderer #timestamp {
    color: #999999 !important;
    font-size: 16px !important;
    line-height: 16px !important;
}

/* Badges. */
yt-live-chat-text-message-renderer #author-name[type="owner"],
yt-live-chat-text-message-renderer #author-name.owner,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="owner"] {
    /* color: #ffd600 !important; */
    color: #ffffff !important;
}

yt-live-chat-text-message-renderer #author-name[type="moderator"],
yt-live-chat-text-message-renderer #author-name.moderator,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="moderator"] {
    /* color: #5e84f1 !important; */
    color: #ffffff !important;
}

yt-live-chat-text-message-renderer #author-name[type="member"],
yt-live-chat-text-message-renderer #author-name.member,
yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"] {
    /* color: #0f9d58 !important; */
    color: #ffffff !important;
}

yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer[type="member"]::after {
    content: '';
    background-image: url('https://raw.githubusercontent.com/Leviano-Aerell-Indonesia/Assets/main/icons/bell.png');
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    top: -25px;
    right: -30px;
}

/* Chat Content */
yt-live-chat-text-message-renderer #content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
    align-self: start !important;
    position: relative;
}

/* Channel names. */
yt-live-chat-author-chip {
    z-index: 2;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #a36a4f !important;
    border: 5px solid #845640 !important;
    padding: 5px 5px !important;
    transform: translateX(10px) translateY(40px) rotate(-3deg);
    width: fit-content !important;
}

yt-live-chat-author-chip #author-name {
    font-size: 25px !important;
    line-height: 25px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: 2px dashed #ffffff !important;
    padding: 10px 35px !important;
}

/* Varified Icon */
yt-live-chat-author-chip #author-name #chip-badges {
    display: none !important;
}

/* Badge Membership Icon */
yt-live-chat-author-chip #chat-badges #image {
    display: none !important;
}

yt-live-chat-text-message-renderer #before-content-buttons {
    display: none !important;
}

/* Messages. */
yt-live-chat-text-message-renderer #message {
    position: relative;
    z-index: 1;
    background-color: #deb78c !important;
    padding: 35px 20px 10px 20px !important;
    margin: 0px !important;
    border: 5px solid #845640 !important;
    transform: translateY(-10px) translateX(25px);
    max-width: 400px !important;
    min-width: 100px !important;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.6) !important;
}

yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
    color: #ffffff !important;
    font-size: 25px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.6) !important;
}

/* SuperChat/Fan Funding Messages. */
yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text * {
    color: #ffffff !important;
    font-size: 20px !important;
    line-height: 20px !important;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
    color: #ffffff !important;
    font-size: 18px !important;
    line-height: 18px !important;
}

yt-live-chat-paid-message-renderer #content,
yt-live-chat-paid-message-renderer #content * {
    color: #ffffff !important;
    font-size: 18px !important;
    line-height: 18px !important;
}

yt-live-chat-moderation-message-renderer {
    display: none !important;
}

yt-live-chat-paid-message-renderer {
    margin: 4px 0 !important;
}

yt-live-chat-legacy-paid-message-renderer {
    background-color: #0f9d58 !important;
    margin: 4px 0 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
    text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
    display: none !important;
}

yt-live-chat-ticker-renderer {
    background-color: transparent !important;
    box-shadow: none !important;
}

yt-live-chat-ticker-renderer {
    display: none !important;
}


yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
    color: #ffffff !important;
}

yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-restricted-participation-renderer {
    display: none !important;
}

yt-live-chat-banner-manager {
    display: none !important;
}


yt-live-chat-action-panel-renderer,
yt-live-chat-renderer #action-panel {
    display: none !important;
}

yt-reaction-control-panel-overlay,
yt-reaction-control-panel-overlay-view-model,
yt-reaction-control-panel-view-model {
    display: none !important;
}

yt-live-chat-viewer-engagement-message-renderer {
    display: none !important;
}

/* Join Membership */
yt-live-chat-membership-item-renderer {
    max-width: 400px !important;
    min-width: 100px !important;
    margin-top: 20px !important;
    transform: translateX(-10px) translateY(10px);
}

yt-live-chat-membership-item-renderer #author-photo {
    display: none !important;
}

yt-live-chat-membership-item-renderer #card {
    background-color: #a36a4f !important;
    border: 5px solid #845640 !important;
    padding: 5px 5px !important;
}

yt-live-chat-membership-item-renderer #card::after {
    content: '';
    background-image: url('https://raw.githubusercontent.com/Leviano-Aerell-Indonesia/Assets/main/icons/bell.png');
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    top: -15px;
    right: 0px;
}

yt-live-chat-membership-item-renderer #header {
    background-color: #a36a4f !important;
    color: #ffffff !important;
    border: 2px dashed #ffffff !important;
    padding: 10px 35px !important;
}

yt-live-chat-membership-item-renderer yt-live-chat-author-chip {
    z-index: 2;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    transform: none;
    width: fit-content !important;
}

yt-live-chat-membership-item-renderer yt-live-chat-author-chip #author-name {
    font-size: 25px !important;
    line-height: 25px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: none !important;
    padding: 0 !important;
}

yt-live-chat-membership-item-renderer #header-subtext {
    color: #ffffff !important;
    font-size: 20px !important;
}

/* Menghadiahi membership */
ytd-sponsorships-live-chat-header-renderer #header {
    margin-top: 20px !important;
    transform: translateX(-10px) translateY(10px);
    background-color: #a36a4f !important;
    border: 5px solid #845640 !important;
    padding: 5px 5px !important;
    max-width: 400px !important;
    min-width: 100px !important;
    overflow: visible !important;
}

ytd-sponsorships-live-chat-header-renderer #header::after {
    content: '';
    background-image: url('https://raw.githubusercontent.com/Leviano-Aerell-Indonesia/Assets/main/icons/bell.png');
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    top: -15px;
    right: -20px;
}

ytd-sponsorships-live-chat-header-renderer #content {
    width: 100% !important;
    background-color: #a36a4f !important;
    color: #ffffff !important;
    border: 2px dashed #ffffff !important;
    padding: 10px 35px !important;
}

ytd-sponsorships-live-chat-header-renderer yt-img-shadow {
    display: none !important;
}

ytd-sponsorships-live-chat-gift-redemption-announcement-renderer {
    display: none !important;
}

ytd-sponsorships-live-chat-header-renderer yt-live-chat-author-chip {
    z-index: 2;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    transform: none;
    width: fit-content !important;
}

ytd-sponsorships-live-chat-header-renderer yt-live-chat-author-chip #author-name {
    font-size: 25px !important;
    line-height: 25px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: none !important;
    padding: 0 !important;
}

/* SuperChat */
yt-live-chat-paid-message-renderer {
    display: none !important;
    transform: translateX(-10px) translateY(10px);
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: transparent !important;
}

yt-live-chat-paid-message-renderer yt-live-chat-author-chip {
    z-index: 2;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    transform: none;
    width: fit-content !important;
}

yt-live-chat-paid-message-renderer #card {
    background-color: transparent !important;
}

yt-live-chat-paid-message-renderer #content {
    background-color: transparent !important;
}

yt-live-chat-paid-message-renderer #author-name {
    font-size: 25px !important;
    line-height: 25px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: none !important;
    padding: 0 !important;
}

yt-live-chat-paid-message-renderer #header {
    position: relative;
    background-color: #f8ba12 !important;
    border: 5px solid #845640 !important;
    padding: 5px 5px !important;
    border-radius: 5px !important;
    overflow: visible !important;
    max-width: 400px !important;
    min-width: 100px !important;
    z-index: 2;
}

yt-live-chat-paid-message-renderer #menu {
    display: none !important;
}

yt-live-chat-paid-message-renderer #header::before {
    content: '';
    background-image: url('https://raw.githubusercontent.com/Leviano-Aerell-Indonesia/Assets/main/icons/star.png');
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    top: -30px;
    right: -30px;;
}

yt-live-chat-paid-message-renderer #header-content {
    color: #ffffff !important;
    border: 2px dashed #ffffff !important;
    padding: 10px 35px !important;
}

yt-live-chat-paid-message-renderer #single-line {
    display: flex !important;
    flex-direction: column !important;
    gap: 5px;
}

yt-live-chat-paid-message-renderer #purchase-amount-column {
    padding: 0px !important;
}

yt-live-chat-paid-message-renderer #purchase-amount-column::before {
    content: 'Memberikanmu';
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    transform: translateY(-1px);
}

yt-live-chat-paid-message-renderer #action-buttons {
    display: none !important;
}

yt-live-chat-paid-message-renderer #content {
    background-color: #deb78c !important;
    margin: 0px !important;
    padding: 20px 20px 20px 20px !important;
    border: 5px solid #845640 !important;
    color: #ffffff !important;
    font-size: 25px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.6) !important;
    font-weight: bold !important;
    max-width: 360px !important;
    min-width: 100px !important;
    z-index: 1;
    transform: translateY(-10px) !important;
}